#announcement-bar {
    background-color: #D0473E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    color: white;
    position: relative;
}

#announcement-bar #countdown {
    font-size: var(--font-size, 14px);
    font-weight: var(--font-weight, 400);
    font-family: var(--font-family, Jost);
}

#announcement-bar #close-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: var(--font-size, 16px);
    position: absolute;
    right: 10px;
}
